body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #9b0000; /* Set background color to red */
    text-align: center; /* Center align text */
    color: #000000; /* Set text color to black */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.guide {
    margin-top: 40px;
    text-align: center;
}

.guide h2 {
    font-size: 24px;
}

.guide ul {
    padding-left: 20px;
}

/* Semi-Bold Text */
h1, h2, h3, h4, h5, h6, p, li, input, button, label {
    font-weight: 600; /* Semi-bold */
}
